
body {

  width: 100vh;
  height: 100vh;
}

.title {
  width: 100%;
  overflow: hidden;
  height: auto;
  color: #fff;
  padding: 10px 0 5px 10px;
  margin: 50px 0px 30px 0px;
  text-align: left;
  font-size: 20px;
  border-bottom: 1px solid #598234;
}

form {
    font-size: 16px;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    margin: 30px 0px;
  }
  
  input, textarea {
    width: 60%;
    height: auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid rgba(70, 73, 75, 0.836);
  }
  
  input:focus {
    border: 1px solid #598234;
    background-color: #cbe7b234;
    color: #fff;
    outline: none;
    overflow: hidden;
  }
  
  textarea:focus {
    border: 1px solid #598234;
    background-color: #cbe7b234;
    color: #fff;
    outline: none;
    overflow: hidden;
  }
  
  .formreset {
    width: 100px;
    height: auto;
    border: 1px solid rgba(70, 73, 75, 0.836);
    background-color: rgba(70, 73, 75, 0.836);
    color: #fff;
    padding: 5px 0px;
  }
  
  .send {
    border: 1px solid #598234;
    background-color: #598234;
    color: #fff;
    width: 15%;
    height: auto;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 15px;
  }
  
  .send:hover {
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
  }

  .gmap_canvas {
      
      padding: 50px 100px 50px;
  }