<section class="intro">
            
    <div class="introtext">
            <img class="photo" src="../assets/images/foto_perfil2.jpg" alt="Foto de Perfil" height="190px"width="190px">
        <h1 class="page-title">FRONT-END WEB<br/>DEVELOPER</h1>
            <h2 class="author-text">Want to know what I've been doing? Just check it out!</h2> 
    
            <a class="btn" href="https://drive.google.com/open?id=12MRbkURVUKzqaiOBhHxprK2PSpaGi9Ai" target="_blank"> <i class="fa fa-download"></i> Download CV</a>
    </div>
</section>
<!--|||||||||||||||||||| TIMELINE SECTION ||||||||||||||||||||-->

<div class="timeline">
    <div class="timeline-body">
        <div class="timeline-item">
            <p class="time">2017 a 2019</p>
            <div class="exp-content">
                <h2 class="exp-title">Experiência Profissional</h2>
                <h3>Front Office Manager/Web Marketeer</h3>
                    <p>Aurea Fátima Hotel Congress & SPA</p>       
                <h3>Web Marketeer</h3>
                    <p>DigitalInput - Marketing Digital</p> 
                <h3>Night Auditor/Web Marketeer</h3>
                    <p>Hotel Casa São Nuno</p>        
                <h3>Recepção/Departamento Comunicação e Imagem</h3>
                    <p>Grupo Certus (Hotel Real D’Óbidos e Financertus - Consultoria e Serviços, Lda)</p>
            </div>
        </div>
    </div>
</div>

<div class="timeline">
    <div class="timeline-body">
        <div class="timeline-item">
            <p class="time">2009 a 2019</p>
            <div class="exp-content">
                <h2 class="exp-title">Formação Académica</h2>
                <h3>FLAG Especializado Front-end Web Developer(171h)</h3>
                    <p>FLAG Lisboa | 2019</p>       
                <h3>FLAGProfessional Web Marketeer(243h)</h3>
                    <p>FLAG Coimbra | 2014</p> 
                <h3>Licenciatura em Marketing Turístico</h3>
                    <p>Escola Superior de Turismo e Tecnologia do Mar - IPL| de 2006 a 2009</p>        
            </div>
        </div>
    </div>
</div>

<!--|||||||||||||||||||| SKILLS DE PROGRAMAÇÃO SECTION ||||||||||||||||||||-->

<section class="contentsection">
<div class="content">
<div class="sectionTitle">
    <h2>Skills de Programação</h2>
</div>
<div class="center">
<div class="skillbox">
    <p>HTML5</p>
    <p>90%</p>
<div class="skill">
    <div class="level" style="width:90%;"></div>
</div>
</div>
<div class="skillbox">
    <p>CSS</p>
    <p>70%</p>
<div class="skill">
    <div class="level" style="width:70%;"></div>
</div>
</div>
<div class="skillbox">
    <p>JavaScript</p>
    <p>30%</p>
<div class="skill">
    <div class="level" style="width:30%;"></div>
</div>
</div>
<div class="skillbox">
    <p>jQuery</p>
    <p>20%</p>
<div class="skill">
    <div class="level"style="width:20%;"></div>
</div>
</div>
<div class="skillbox">
<p>Angular</p>
<p>10%</p>
<div class="skill">
<div class="level" style="width:10%;"></div>
</div>
</div>
</div>
</div>

<!--|||||||||||||||||||| SKILLS MARKETING DIGITAL SECTION ||||||||||||||||||||-->

<div class="content"> 
    <div class="sectionTitle">
        <h2>Skills de Marketing Digital</h2>
    </div>
            <p>SEO/SEM</p>
            <p>Social Media</p>
            <p>Google Analytics</p>
            <p>Google Adwords</p>
            <p>Wordpress</p>
            <p>Copywriting</p>
            <p>Email Marketing</p>
</div>


<!--|||||||||||||||||||| INFORMAÇÕES COMPLEMENTARES SECTION ||||||||||||||||||||-->

    <div class="content">
     <div class="sectionTitle">
        <h2>Informações Complementares</h2>
    </div>
    
        <h3>CodeCademy <br/> Web Development Path</h3>
            <p>Html</p> <p>CSS</p><p>Jvascript</p><p>jQuery</p> <p>Git</p> <p>Angular</p><p>Typescript</p> <p>React</p> <p>SQL</p>
    </div>

<!--|||||||||||||||||||| IDIOMAS SECTION ||||||||||||||||||||-->
    
<div class="content">

<div class="sectionTitle">
    <h2>Idiomas</h2>
</div>
        <p>Português | Idioma Nativo<p>
        <p>Espanhol | Fluente Oral/Escrito</p>
        <p>Inglês | Fluente Oral/Escrito</p>
</div>
</section>