  <div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>


  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a class="author" routerLink="/home">Sérgio de la Rosa Pedro</a><span>Front-End Web Developer</span></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/portfolio">Portfolio</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
  


 

  