<!--|||||||||||||||||||| WEBSITE'S FOOTER ||||||||||||||||||||-->      
<button class="scroll-to-top" onclick="scrollFunction()" id="myBtn" title="Go to Top">
    <a href="#top"><i class="fas fa-angle-double-up"></i></a>
 </button>
     <footer>
         <ul class="footer1">
             <li class="footer2">
                 <a href="#"><i class="fab fa-google-plus-square"></i></a>
             </li>
             <li>
                 <a href="contactos.html" target="_blank"><i class="fas fa-envelope-square"></i></a>
             </li>
             <li class="footer2">
                 <a href="http://www.linkedin.com/in/sergio-de-la-rosa-pedro-70b95913"><i class="fab fa-linkedin"></i></a>
             </li>
         </ul>
     </footer>
     <div class="copywright">
  &copy; copywright 2019 Sérgio de la Rosa Pedro - All Rights Reserved
     </div>